<body>
  <h2>Lista de Produtos</h2>
  <br/>
  <div *ngFor="let produtos of products">
    <h3>
      <!--<a [title]="produtos.description"></a>-->
      {{ produtos.name }}
    </h3>
      <div class="labels-lista">
        <strong>Descrição:</strong> {{ produtos.description }} <br/>
        <strong>Preço:</strong> R${{ produtos.price }}.00 <br/>
      </div>
    <br/>
  </div>
</body>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
